output/*
algorithms/cl-esa/wiki_corpus/*
algorithms/Wiki-ESA-master/data
algorithms/Wiki-ESA-master/matrix_*
algorithms/Wiki-ESA-master/temp
main/interlang_dataset_maker/output
main/interlang_dataset_maker/output
.idea/*
**.pyc
